.main-container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 15%;
  margin-left: 15%;
}

@font-face {
    font-family: 'Y2K_neophyte';
    src: url("Y2K_neophyte.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AtomicMd-3zXDZ';
    src: url("AtomicMd-3zXDZ.ttf");
    font-weight: normal;
    font-style: normal;
}

a { text-decoration: none; }

h1 {
  font-size: 30px;
  font-family:'Y2K_neophyte';
  text-align:center;
  color:DarkSlateGray;
}

h2 {
  font-size: 30px;
  font-family:'Y2K_neophyte';
  text-align:center;
  color:SlateGray;
    text-shadow: 0 0 7px Honeydew, 0 0 5px Ivory;
}

h3 {
  font-size: 60px;
  font-family:'AtomicMd-3zXDZ';
  text-align:center;
  color:#9b111e;
      text-shadow: 0 0 7px #F73718, 0 0 5px Ivory;
}

h4 {
  font-size: 50px;
  font-family:'AtomicMd-3zXDZ';
  text-align:center;
  color:#9b111e;
}

h5 {
  font-size: 30px;
  font-family:'Y2K_neophyte';
  font-weight: bold;
  text-align:center;
  color:#008075;
      text-shadow: 0 0 7px #Ivory, 0 0 5px #Ivory;
}

body{  
  font-size: 40px;
  font-family:'Y2K_neophyte';
  text-align:center;
  color:#008075;
    text-shadow: 0 0 7px #Ivory, 0 0 5px #Ivory;
}

a {
  color:#B22222;
  text-decoration: none;
}

div {
  line-height: 0.1;
    opacity: 0.9;
}

div:hover {  
  opacity: 4.0;
  font-weight: bold;
}

hr { 
background-color: SlateGray; 
height: 1.5px; 
border: 0; 
}

img {
  opacity: 0.7;
}

img:hover {
  opacity: 1.0;
}

iframe {
  max-width: 100%
  height:auto;
}

