.main-container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}


@font-face {
    font-family: 'GLAMOURGIRL';
    src: url("GLAMOURGIRL.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Love Letters';
    src: url("LoveLetters.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Warioland4chmc-VApe';
    src: url("Warioland4chmc-VApe.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Y2K_neophyte_italic';
    src: url("Y2K_neophyte_italic.ttf");
    font-weight: normal;
    font-style: normal;
}

a { text-decoration: none; }

p {
  font-size: 30px;
  margin-right: 10%;
  margin-left: 10%;
  font-family:'Y2K_';
  text-align:center;
  color:DarkSlateGray;
}

h1 {
  font-size: 30px;
  font-family:'Y2K_neophyte_italic';
  text-align:center;
  color:HotPink;
}

h2 {
  font-size: 30px;
  font-family:'GLAMOURGIRL';
  text-align:center;
  color:Black;
    text-shadow: 0 0 7px Honeydew, 0 0 5px Ivory;
}

h3 {
  font-size: 35px;
  font-family:'Warioland4chmc-VApe';
  font-weight: thin;
  text-align:center;
  letter-spacing: -3.4px;
  color:#9b111e;
      text-shadow: 0 0 2px #FDCC52, 0 0 1px Ivory;
}

h4 {
  font-size: 50px;
  font-family:'AtomicMd-3zXDZ';
  text-align:center;
  color:#9b111e;
      text-shadow: 0 0 2px #F73718, 0 0 1px Ivory;
}

h5 {
  font-size: 20px;
  font-family:'Y2K_neophyte';
  font-weight: thin;
  text-align:center;
  color:#008075;
      text-shadow: 0 0 7px #Ivory, 0 0 5px #Ivory;
}

h2:hover {
    text-shadow: -.25px -.25px 0 crimson, 
                .25px .25px crimson;
}

h6 {
  font-size: 20px;
  font-family:'Y2K_neophyte';
  text-align:center;
  color:Black;
    text-shadow: 0 0 7px Honeydew, 0 0 5px Ivory;
}

h7 {
  font-size: 30px;
  font-family:'PanAmTextCaps';
  text-align:center;
  color:Teal;
    text-shadow: 0 0 7px Honeydew, 0 0 5px Ivory
}


body{  
  font-size: 20px;
  font-family:'AusionPersonalUse-Light';
  text-align:center;
  color:Black
}

a {
  color:#B22222;
  text-decoration: none;
}

div {
  font-stretch: ultra-condensed;
  line-height: 1.0;
  opacity: 0.9;
}


hr { 
background-color: SlateGray; 
height: 1.5px; 
border: 0; 
}

img {
  opacity: 0.7;
}

img:hover {
  opacity: 1.0;
}

iframe {
  max-width: 100%
  height:auto;
}

.boxed {
  border: 1px solid red;
  margin-right: 15%;
  margin-left: 15%;
}